* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
  background: #0059de;
}

.logo > img {
  width: 50px;
}

.header-links > ul {
  display: flex;
  gap: 20px;
}

header li {
  list-style-type: none;
}

header a {
  text-decoration: none;
  color: #002152;
}

main {
  background: #002152;
  color: #fff;
  padding: 0 0 100px 0;
}

.main-img-container {
  overflow: hidden;
  border-radius: 2rem;
  width: 500px;
  height: 300px;
}

.main-img-container > img {
  object-fit: cover;
  width: 500px;
  height: 300px;
}

.top {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 40px;
  background: #00112c;
}

button {
  padding: 20px 40px;
  font-size: 1.2rem;
  border-radius: 1em;
  color: #002152;
  cursor: pointer;
}

.top-text {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.top-text p {
  font-size: 18px;
  color: #e5e7eb;
}

.img-container-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  font-size: 0.8rem;
}

.img-container {
  width: 100px;
  height: 150px;
}

.img-container > img {
  object-fit: cover;
  width: 100px;
  height: 100px;
  border-radius: 1rem;
  border: 2px solid white;
}

.upper-mid {
  padding: 50px;
}

.lower-mid {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 20%;
  background: #00112c;
}

.lower-mid > p {
  margin: 40px;
  font-style: italic;
}

.lower-mid > h3 {
  align-self: flex-end;
}

.bottom {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding: 100px;
  width: fit-content;
  margin: 100px auto 0 auto;
  border: 2px solid #fff;
  border-radius: 5rem;
}

.bottom button {
  background: #002152;
  color: #fff;
  border: 2px solid #fff;
}

footer {
  background: #0059de;
  padding: 50px;
}

footer img {
  vertical-align: bottom;
}
